<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Objective-C_Blocks</key>
			<dict>
				<key>date</key>
				<date>2018-07-07T10:03:33Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>xcode</string>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>iphone</string>
						<string>ipad</string>
						<string>ios</string>
						<string>mac os x</string>
						<string>macosx</string>
						<string>objc</string>
						<string>objectivec</string>
						<string>objective c</string>
					</array>
					<key>name</key>
					<string>Objective-C Blocks</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Objective-C_Blocks</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>ComponentKit</key>
			<dict>
				<key>date</key>
				<date>2016-09-07T08:47:19Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>ComponentKit</string>
					<key>platform</key>
					<string>cocoapods</string>
					<key>uniqueIdentifier</key>
					<string>ComponentKit</string>
				</dict>
			</dict>
			<key>Parse</key>
			<dict>
				<key>date</key>
				<date>2017-08-23T17:41:48Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>Parse</string>
					<key>platform</key>
					<string>cocoapods</string>
					<key>uniqueIdentifier</key>
					<string>Parse</string>
				</dict>
			</dict>
			<key>ParseFacebookUtilsV4</key>
			<dict>
				<key>date</key>
				<date>2016-04-28T12:22:02Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>ParseFacebookUtilsV4</string>
					<key>platform</key>
					<string>cocoapods</string>
					<key>uniqueIdentifier</key>
					<string>ParseFacebookUtilsV4</string>
				</dict>
			</dict>
			<key>Result</key>
			<dict>
				<key>date</key>
				<date>2017-09-28T05:12:21Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>Result</string>
					<key>platform</key>
					<string>cocoapods</string>
					<key>uniqueIdentifier</key>
					<string>Result</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>AFNetworking</key>
			<dict>
				<key>date</key>
				<date>2015-11-01T16:48:54Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>AFNetworking</string>
					<key>platform</key>
					<string>cocoapods</string>
					<key>uniqueIdentifier</key>
					<string>AFNetworking</string>
				</dict>
			</dict>
			<key>Realm</key>
			<dict>
				<key>date</key>
				<date>2015-11-01T16:49:00Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>Realm</string>
					<key>platform</key>
					<string>cocoapods</string>
					<key>uniqueIdentifier</key>
					<string>Realm</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>calendar</key>
			<dict>
				<key>date</key>
				<date>2017-08-16T02:54:30Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>calendar</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>calendar</string>
				</dict>
			</dict>
			<key>ecto</key>
			<dict>
				<key>date</key>
				<date>2019-02-06T13:18:09Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>ecto</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>ecto</string>
				</dict>
			</dict>
			<key>gen_stage</key>
			<dict>
				<key>date</key>
				<date>2018-10-13T03:49:18Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>gen_stage</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>gen_stage</string>
				</dict>
			</dict>
			<key>guardian</key>
			<dict>
				<key>date</key>
				<date>2019-01-19T12:26:42Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>guardian</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>guardian</string>
				</dict>
			</dict>
			<key>phoenix</key>
			<dict>
				<key>date</key>
				<date>2019-03-14T05:24:48Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix</string>
				</dict>
			</dict>
			<key>phoenix_html</key>
			<dict>
				<key>date</key>
				<date>2019-01-09T11:21:24Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix_html</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix_html</string>
				</dict>
			</dict>
			<key>plug</key>
			<dict>
				<key>date</key>
				<date>2019-02-11T11:19:56Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>plug</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>plug</string>
				</dict>
			</dict>
			<key>poison</key>
			<dict>
				<key>date</key>
				<date>2018-07-29T08:10:29Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>poison</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>poison</string>
				</dict>
			</dict>
			<key>policy_wonk</key>
			<dict>
				<key>date</key>
				<date>2018-12-13T06:06:29Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>policy_wonk</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>policy_wonk</string>
				</dict>
			</dict>
			<key>sphinx</key>
			<dict>
				<key>date</key>
				<date>2017-03-02T08:51:18Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>sphinx</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>sphinx</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>calecto</key>
			<dict>
				<key>date</key>
				<date>2016-02-25T06:40:28Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>calecto</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>calecto</string>
				</dict>
			</dict>
			<key>timex</key>
			<dict>
				<key>date</key>
				<date>2016-02-25T06:35:39Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>timex</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>timex</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>com.jakewharton.rxbinding:rxbinding</key>
			<dict>
				<key>date</key>
				<date>2017-03-01T08:51:04Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>com.jakewharton.rxbinding:rxbinding</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>com.jakewharton.rxbinding:rxbinding</string>
				</dict>
			</dict>
			<key>com.squareup.retrofit:retrofit</key>
			<dict>
				<key>date</key>
				<date>2015-10-10T17:56:54Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>com.squareup.retrofit:retrofit</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>com.squareup.retrofit:retrofit</string>
				</dict>
			</dict>
			<key>io.reactivex:rxjava</key>
			<dict>
				<key>date</key>
				<date>2018-04-10T04:55:01Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>io.reactivex:rxjava</string>
					<key>platform</key>
					<string>javadoc</string>
					<key>uniqueIdentifier</key>
					<string>io.reactivex:rxjava</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>cancancan</key>
			<dict>
				<key>date</key>
				<date>2018-09-20T06:37:14Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>cancancan</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>cancancan</string>
				</dict>
			</dict>
			<key>devise</key>
			<dict>
				<key>date</key>
				<date>2019-02-12T11:20:02Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>devise</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>devise</string>
				</dict>
			</dict>
			<key>factory_girl</key>
			<dict>
				<key>date</key>
				<date>2017-10-25T05:08:06Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>factory_girl</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>factory_girl</string>
				</dict>
			</dict>
			<key>faker</key>
			<dict>
				<key>date</key>
				<date>2019-02-13T11:20:15Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>faker</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>faker</string>
				</dict>
			</dict>
			<key>httparty</key>
			<dict>
				<key>date</key>
				<date>2019-02-06T13:18:12Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>httparty</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>httparty</string>
				</dict>
			</dict>
			<key>nokogiri</key>
			<dict>
				<key>date</key>
				<date>2019-01-19T12:27:47Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>nokogiri</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>nokogiri</string>
				</dict>
			</dict>
			<key>pundit</key>
			<dict>
				<key>date</key>
				<date>2019-01-19T12:26:40Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>pundit</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>pundit</string>
				</dict>
			</dict>
			<key>shoulda-matchers</key>
			<dict>
				<key>date</key>
				<date>2019-03-01T15:30:11Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>shoulda-matchers</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>shoulda-matchers</string>
				</dict>
			</dict>
			<key>shoulda-matchers-pundit</key>
			<dict>
				<key>date</key>
				<date>2015-10-10T17:59:31Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>shoulda-matchers-pundit</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>shoulda-matchers-pundit</string>
				</dict>
			</dict>
			<key>simple_form</key>
			<dict>
				<key>date</key>
				<date>2018-11-23T10:28:56Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>simple_form</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>simple_form</string>
				</dict>
			</dict>
			<key>xcodeproj</key>
			<dict>
				<key>date</key>
				<date>2019-02-20T09:45:44Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>xcodeproj</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>xcodeproj</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict>
			<key>Sequelize</key>
			<dict>
				<key>date</key>
				<date>2018-06-06T06:43:16Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Sequelize#readme</string>
					<key>authorLinkText</key>
					<string>marudor</string>
					<key>name</key>
					<string>Sequelize</string>
					<key>platform</key>
					<string>usercontribSequelize</string>
					<key>uniqueIdentifier</key>
					<string>Sequelize</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHWebViewIsDark</key>
	<false/>
	<key>annotationsAreShown</key>
	<false/>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict>
			<key>~/Library/Application Support/Dash/DocSets/Elixir/Elixir.docset</key>
			<string>hex</string>
			<key>~/Library/Application Support/Dash/DocSets/Man_Pages/Man Pages.docset</key>
			<string>man</string>
			<key>~/Library/Application Support/Dash/DocSets/jQuery/jQuery.docset</key>
			<string>jq</string>
			<key>~/Library/Application Support/Dash/DocSets/jQuery_UI/jQuery UI.docset</key>
			<string>jqui</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/ecto/ecto.docset</key>
			<string>e</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/phoenix/phoenix.docset</key>
			<string>hex</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/plug/plug.docset</key>
			<string>hex</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/poison/poison.docset</key>
			<string>hex</string>
			<key>~/Library/Application Support/Dash/Versioned DocSets/ecto - DHHexRepo/1-1-4/ecto.docset</key>
			<string>hex</string>
		</dict>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Android.xml</key>
			<dict>
				<key>date</key>
				<date>2015-10-14T06:32:19Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Apple_API_Reference.xml</key>
			<dict>
				<key>date</key>
				<date>2017-10-23T05:51:47Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Elixir.xml</key>
			<dict>
				<key>date</key>
				<date>2015-10-29T15:58:16Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Java_SE8.xml</key>
			<dict>
				<key>date</key>
				<date>2015-10-10T17:59:06Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Lo-Dash.xml</key>
			<dict>
				<key>date</key>
				<date>2016-05-09T05:42:44Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Man_Pages.xml</key>
			<dict>
				<key>date</key>
				<date>2015-10-10T17:59:08Z</date>
			</dict>
			<key>http://kapeli.com/feeds/NodeJS.xml</key>
			<dict>
				<key>date</key>
				<date>2016-05-09T05:41:34Z</date>
			</dict>
			<key>http://kapeli.com/feeds/React.xml</key>
			<dict>
				<key>date</key>
				<date>2017-01-11T09:37:49Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_2.xml</key>
			<dict>
				<key>date</key>
				<date>2015-10-10T18:00:32Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_on_Rails_4.xml</key>
			<dict>
				<key>date</key>
				<date>2015-10-10T17:59:47Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Swift.xml</key>
			<dict>
				<key>date</key>
				<date>2016-05-09T05:43:20Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>http://kapeli.com/feeds/JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2016-05-09T05:45:54Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Mongoose.xml</key>
			<dict>
				<key>date</key>
				<date>2018-02-23T18:21:20Z</date>
			</dict>
			<key>http://kapeli.com/feeds/jQuery.xml</key>
			<dict>
				<key>date</key>
				<date>2018-02-23T18:21:12Z</date>
			</dict>
			<key>http://kapeli.com/feeds/jQuery_UI.xml</key>
			<dict>
				<key>date</key>
				<date>2018-02-23T18:21:13Z</date>
			</dict>
		</dict>
	</dict>
	<key>isPinned</key>
	<false/>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
		<dict>
			<key>docsets</key>
			<array>
				<string>~/Library/Application Support/Dash/DocSets/Apple_API_Reference/Apple_API_Reference.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Swift/Swift.docset</string>
				<string>~/Library/Application Support/Dash/Versioned DocSets/ReactiveCocoa - DHCocoaRepo/4-0-0-alpha-3/com.cocoadocs.reactivecocoa.ReactiveCocoa.docset</string>
				<string>~/Library/Application Support/Dash/Cocoa DocSets/Result/com.cocoadocs.result.Result.docset</string>
			</array>
			<key>icon</key>
			<string>iphone</string>
			<key>name</key>
			<string>iOS dev</string>
			<key>searchSnippets</key>
			<true/>
			<key>triggers</key>
			<array>
				<dict>
					<key>appPath</key>
					<string>/Applications/Xcode.app</string>
					<key>bundle</key>
					<string>com.apple.dt.Xcode</string>
					<key>description</key>
					<string>Xcode becomes active</string>
					<key>image</key>
					<string>generalAppIcon</string>
					<key>isAppTrigger</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>docsets</key>
			<array>
				<string>~/Library/Application Support/Dash/DocSets/Ruby_on_Rails_4/Ruby on Rails.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Ruby_2/Ruby.docset</string>
				<string>~/Library/Application Support/Dash/Ruby DocSets/devise/devise.docset</string>
				<string>~/Library/Application Support/Dash/Ruby DocSets/cancancan/cancancan.docset</string>
				<string>~/Library/Application Support/Dash/Ruby DocSets/simpleform/simple_form.docset</string>
				<string>~/Library/Application Support/Dash/Ruby DocSets/xcodeproj/xcodeproj.docset</string>
				<string>~/Library/Application Support/Dash/Ruby DocSets/factorygirl/factory_girl.docset</string>
				<string>~/Library/Application Support/Dash/Ruby DocSets/faker/faker.docset</string>
				<string>~/Library/Application Support/Dash/Ruby DocSets/pundit/pundit.docset</string>
				<string>~/Library/Application Support/Dash/Ruby DocSets/shouldamatchers/shoulda-matchers.docset</string>
				<string>~/Library/Application Support/Dash/Ruby DocSets/shouldamatcherspundit/shoulda-matchers-pundit.docset</string>
				<string>~/Library/Application Support/Dash/Ruby DocSets/httparty/httparty.docset</string>
			</array>
			<key>icon</key>
			<string>ruby</string>
			<key>name</key>
			<string>Ruby dev</string>
			<key>searchSnippets</key>
			<true/>
			<key>triggers</key>
			<array/>
		</dict>
		<dict>
			<key>docsets</key>
			<array>
				<string>~/Library/Application Support/Dash/DocSets/Android/Android.docset</string>
				<string>~/Library/Application Support/Dash/Java DocSets/comsquareupretrofitretrofit/Retrofit.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Java_SE8/Java.docset</string>
			</array>
			<key>icon</key>
			<string>android</string>
			<key>name</key>
			<string>Android dev</string>
			<key>searchSnippets</key>
			<true/>
			<key>triggers</key>
			<array>
				<dict>
					<key>appPath</key>
					<string>/Applications/Android Studio.app</string>
					<key>bundle</key>
					<string>com.google.android.studio</string>
					<key>description</key>
					<string>Android Studio becomes active</string>
					<key>image</key>
					<string>generalAppIcon</string>
					<key>isAppTrigger</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>docsets</key>
			<array>
				<string>~/Library/Application Support/Dash/DocSets/Elixir/Elixir.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/phoenix/phoenix.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/plug/plug.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/ecto/ecto.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/timex/timex.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/poison/poison.docset</string>
				<string>~/Library/Application Support/Dash/Versioned DocSets/ecto - DHHexRepo/1-1-4/ecto.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/calecto/calecto.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/calendar/calendar.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/phoenixhtml/phoenix_html.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/guardian/guardian.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/policywonk/policy_wonk.docset</string>
			</array>
			<key>icon</key>
			<string>elixir</string>
			<key>name</key>
			<string>Elixir dev</string>
			<key>searchSnippets</key>
			<true/>
			<key>triggers</key>
			<array/>
		</dict>
		<dict>
			<key>docsets</key>
			<array>
				<string>~/Library/Application Support/Dash/DocSets/Lo-Dash/Lo-Dash.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/NodeJS/NodeJS.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Mongoose/Mongoose.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/JavaScript/JavaScript.docset</string>
				<string>~/Library/Application Support/Dash/User Contributed/Sequelize/Sequelize.docset</string>
			</array>
			<key>icon</key>
			<string>jade</string>
			<key>name</key>
			<string>Node.js</string>
			<key>placeholder</key>
			<string></string>
			<key>searchSnippets</key>
			<true/>
			<key>triggers</key>
			<array>
				<dict>
					<key>appPath</key>
					<string>/Applications/Visual Studio Code.app</string>
					<key>bundle</key>
					<string>com.microsoft.VSCode</string>
					<key>description</key>
					<string>Code becomes active</string>
					<key>image</key>
					<string>generalAppIcon</string>
					<key>isAppTrigger</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>docsets</key>
			<array>
				<string>~/Library/Application Support/Dash/Hex DocSets/calendar/calendar.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/ecto/ecto.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/guardian/guardian.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Elixir/Elixir.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Lo-Dash/Lo-Dash.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/phoenix/phoenix.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/phoenixhtml/phoenix_html.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/plug/plug.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/poison/poison.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/policywonk/policy_wonk.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/sphinx/sphinx.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/React/React.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/genstage/gen_stage.docset</string>
			</array>
			<key>name</key>
			<string>Elixir + React</string>
			<key>searchSnippets</key>
			<true/>
			<key>triggers</key>
			<array>
				<dict>
					<key>appPath</key>
					<string>/Applications/Sublime Text.app</string>
					<key>bundle</key>
					<string>com.sublimetext.3</string>
					<key>description</key>
					<string>Sublime Text becomes active</string>
					<key>image</key>
					<string>generalAppIcon</string>
					<key>isAppTrigger</key>
					<true/>
				</dict>
			</array>
		</dict>
	</array>
	<key>searchKey</key>
	<dict>
		<key>keyCode</key>
		<integer>1</integer>
		<key>modifiers</key>
		<integer>4352</integer>
	</dict>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<false/>
	<key>shouldStartAtLogin</key>
	<true/>
	<key>shouldSyncBookmarks</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showInDock</key>
	<false/>
	<key>showSearchFallbacks</key>
	<true/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>ReactiveCocoa</key>
			<dict>
				<key>4.0.0-alpha-3</key>
				<dict>
					<key>date</key>
					<date>2015-11-01T16:49:37Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>ReactiveCocoa</string>
						<key>platform</key>
						<string>cocoapods</string>
						<key>uniqueIdentifier</key>
						<string>ReactiveCocoa</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>ecto</key>
			<dict/>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>ecto</key>
			<dict>
				<key>1.0.7</key>
				<dict>
					<key>date</key>
					<date>2015-12-19T17:05:34Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>ecto</string>
						<key>platform</key>
						<string>hex</string>
						<key>uniqueIdentifier</key>
						<string>ecto</string>
					</dict>
				</dict>
				<key>1.1.0</key>
				<dict>
					<key>date</key>
					<date>2015-12-19T17:06:39Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>ecto</string>
						<key>platform</key>
						<string>hex</string>
						<key>uniqueIdentifier</key>
						<string>ecto</string>
					</dict>
				</dict>
				<key>1.1.4</key>
				<dict>
					<key>date</key>
					<date>2016-10-24T16:56:30Z</date>
					<key>entry</key>
					<dict>
						<key>name</key>
						<string>ecto</string>
						<key>platform</key>
						<string>hex</string>
						<key>uniqueIdentifier</key>
						<string>ecto</string>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>windowStyle</key>
	<string>HUD</string>
</dict>
</plist>
